@import "../variables.scss";

table {
  margin: 1em;
  width: 98%;
  border-collapse: collapse;
  text-align: center;

  thead {
    border: 1px solid black;
    background-color: #f7f7f7;
  }

  th {
    padding: 0.5em 1em;
    font-size: 1em;
  }

  tbody {
    padding: 1em;
    tr {
      border-bottom: 1px solid gray;
    }
  }
}

.cell__image {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  padding-bottom: 0.5em;

  img {
    width: 120px;
  }

  .label {
    border-radius: 3px;
    text-align: center;
    color: #fff;
    font-size: 0.8em;
    font-weight: bold;
    width: 80%;
    padding: 0.3em 1em;
    &--isNew {
      margin: 3em 0;
      background-color: $color-primary;
    }
    &--endSoon {
      background-color: $color-secondary;
    }
  }
}

.cell__title {
  font-size: 0.8em;
  font-weight: 600;

  &--isNew {
    color: $color-primary;
  }

  &--endSoon {
    color: $color-secondary;
  }
}

/* removing arrows from input  */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.cell__quantity input {
  width: 2em;
  padding: 0.1em 0.4em;
  text-align: center;
  border: 1px solid black;
  background-color: lightgray;
}

.cell__remove img {
  width: 1em;
  
  &:hover {
    cursor: pointer;
  }
}
